<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Skipper</display-name>
  <description>Application pour localiser des skippers</description>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>skipperRealm</realm-name>
  </login-config>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Pages securisées utilisateurs</web-resource-name>
      <url-pattern>/internautes/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>utilisateur</role-name>
    </auth-constraint>
  </security-constraint>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Pages securisées admin</web-resource-name>
      <url-pattern>/admin/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  
   <servlet>
    <display-name>Internaute</display-name>
    <servlet-name>ServletInternaute</servlet-name>
    <servlet-class>servlets.ServletInternaute</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <display-name>Admin</display-name>
    <servlet-name>ServletAdmin</servlet-name>
    <servlet-class>servlets.ServletAdmin</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ServletInternaute</servlet-name>
    <url-pattern>/internautes/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletAdmin</servlet-name>
    <url-pattern>/admin/*</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>